# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Your generated Build folder
Build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Java
*.class

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Crash dumps
hs_err_pid*

# Temporary files
*.tmp
*.temp

# Files from testing
run/